{% load static %}

#aboutus {
    position: fixed;
    left: 0px;
    bottom: -10vh;
    z-index: -1;
    opacity: 0.1;
}

#aboutuspic {
    width: 100vw;
}

body {
    background-color: #f9f9f9;
    font-family: Mukta;
}

#closebut {
    border: 2px solid white;
}

.collapse {
    color: black;
}

#hometext > h1{
    font-weight: 1000;
}

.container {width: 100vw;}

#homepic {
    width: 50vw;
}

#homepage {
    position: fixed;
    right: 0vw;
    top: 0vh;
    z-index: -1;
}

#hometext {
    margin: 40px;
    margin-left: 80px;
    width: 40vw;
    
}

#hometext > h3 {
    color: gray;
    margin-top: 20px;
}

#hometext > form {margin-top: 40px;}

#homeimg {
    width: 10vw;
    margin-left: 50px;
}

#interest {
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    border: none;
}

#loginbut {
    margin: 10px;
    background-color: rgba(	255, 170, 7, 1);
    border: 2px solid white;
    border-radius: 20px;
    color: white
}

.modal-body {
    text-align: center;
}

.modal-content {
    padding: 20px;
    background-color: rgba(	255, 225, 0, 0.9);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f9f9f9;
    color: black;
}

.nav {
    margin: 20px;
    margin-left: 10px;
}


.nav-item {
    color: black;
    margin-right: 10px;
}

.nav-item.nav-link.active {
    background-color: #f9f9f9;
    color: black;
    text-decoration: underline;
}

#nav-login-tab {
    border-radius: 20px;
}

.navbar-toggler {
    background-color: gray;
    border-color: rgba(255,255,255,1);
}

#nav-profile {
    margin: 40px;
    margin-left: 80px;
    width: 40vw;
}

@media (max-width: 992px) { 
    .container {
    width: 80vw;
    margin-left: -60px;
    margin-right: 20px;}
    
    
    #homepic {opacity: 0.7;}
    
    .nav {
        text-align: center;
        display: block;
    }
    
    .nav-item {width: 100px;
        text-align: center;
        margin: 0 auto;
        padding: 5px;
        margin-bottom: 5px;
        }
    
    .navbar-light {
        background-color: rgba(0,0,0,0.1);
    }
    
}

