{% load static %}

#aboutus {
    position: fixed;
    left: 0px;
    bottom: -10vh;
    z-index: -1;
    opacity: 0.1;
}

#aboutuspic {
    width: 100vw;
}

body {
    background-color: #f9f9f9;
    font-family: Mukta;
    text-align: justify;
    text-justify: inter-word;
}

.carousel-item {
    height: 40vh;
}

.carousel-item img {
    width: 100%
}

#closebut {
    border: 2px solid white;
}

.collapse {
    color: black;
}

.contactus {
    margin-top: 40px;
    padding-left: 100px;
}

#hometext > h1{
    font-weight: 1000;
}

.container {
    max-width: 100vw;
}

.enquiryfield {
    width: 70%;
    padding: 20px;
    
}

.enquiryfield1 {
    width: 86%;
    padding: 20px;
}

.featbar {
    margin-top: 15vh;
    padding-right: 80px;
    text-align: center;
    margin-bottom: 15vh;
}
.feat {
    display: inline-block;
    margin: auto;
}

.feat img {
    width: 50%;
    margin-bottom: 20px;
}

#homepic {
    width: 50vw;
    opacity: 0.6;
}

#homepage {
    position: absolute;
    margin-left: 50vw;
    top: 0px;
    float: right;
    z-index: -1;
}

#hometext {
    margin-top: 10vh;
    padding: 40px;
    
}

#hometext > h3 {
    color: gray;
    margin-top: 20px;
}

#hometext > form {margin-top: 40px;}

#hometext2 {
    padding-left: 100px;
    margin-top: 40px;
}

#homeimg {
    width: 10vw;
    margin-left: 50px;
}

#interest {
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    border: none;
}

#loginbut {
    margin: 10px;
    background-color: rgba(	255, 170, 7, 1);
    border: 2px solid white;
    border-radius: 20px;
    color: white
}

.aboutustext {
    width:80vw;
    padding-left: auto;
    padding-right: auto;
    margin:auto;
}

.misvis {
    display: inline-block;
    width: 30vw;
    height: 100px;
    margin: 10px 40px;
}

.misvis2 {
    display: inline-block;
    width: 66.5vw;
    height: 100px;
    margin: 40px 40px;
}


.team-view {
    display: inline-block;
    width: 30vw;
    height: auto;
    margin: 40px 40px;
    vertical-align: top;
}

#team-photo {
    border-radius: 50%;
    width: 150px;
    height: auto
}

#team-photo-placement {
    display: inline-block;
    width: 30vw;
    height: 100px;
    margin: 40px 40px;
}

.modal-body {
    text-align: center;
}

.modal-content {
    padding: 20px;
    background-color: rgba(	255, 225, 0, 0.9);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f9f9f9;
    color: black;
}

.nav {
    margin: 20px;
    margin-left: 10px;
}

.nav-item {
    color: black;
    margin-right: 10px;
}

.nav-item.nav-link.active {
    background-color: #f9f9f9;
    color: black;
    text-decoration: underline;
}

#nav-login-tab {
    border-radius: 20px;
}

.navbar-toggler {
    background-color: gray;
    border-color: rgba(255,255,255,1);
}

#nav-profile {
    margin: 40px;
    margin-left: 80px;
    width: 40vw;
}

.prof {
    padding: 40px;
}

#subform {
    margin-right: 40px;
}

#subform label {
    margin-right: 20px;
}

.youtube {
    display: inline-block;
}

#youtubevid {
    margin-top: 
}

#yvid {
    margin-left: 40px;
}

@media (max-width: 992px) { 
    .container {
    margin-left: -60px;
    margin-right: 20px;}
    
    
    #homepic {opacity: 0.7;}
    
    .nav {
        text-align: center;
        display: block;
    }
    
    .nav-item {width: 100px;
        text-align: center;
        margin: 0 auto;
        padding: 5px;
        margin-bottom: 5px;
        }
    
    .navbar-light {
        background-color: rgba(0,0,0,0.1);
    }
    
    #interest {
        margin-top: 10px;
    }
    
    
    #hometext2 {
    margin-top: 0px;
    }
    
    
    
    .youtube {
        margin-top: 40px;
    }
    
    #youtubevid {
        width: 70vw;
        height: 40vh;
    }
    
    .featbar {
        padding-right: 0px;
    }
    
    .feat img {
        width: 20vw;
    }
    
    .subformc{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    #subform {
        width: 80%;
        display: block;
        margin: auto;
    }
    
    .carousel {
        margin-top: 80px;
        width: 150%;
        padding-left: 40px;
    }
    
    .contactus {
        margin-top: 40px;
    }
    
}

