{% extends 'base_generic.html' %}

{% load static %}

{% block css %}
      <link rel="stylesheet" href="{% static 'css/users.css' %}">
      <link rel="stylesheet" href="{% static 'css/circle.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
{% endblock %} 

{% block content %}

<div class="wrapper animate-bottom" style="display:none;" id="myDiv">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'users' %}"><img id ="homeimg" src="{% static 'images/Squarelogo.png' %}"></a>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Browse</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Exam Paper</a>
                        </li>
                        <li>
                            <a href="#">Quizzes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Your Subjects</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Students</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Gerald Woo</a>
                        </li>
                        <li>
                            <a href="#">Yong Hua Bing</a>
                        </li>
                        <li>
                            <a href="#">Emerson Sng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Worksheets</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="" class="btn-primary">Account</a>
                </li>
                <li>
                    <a href="{% url 'home' %}" class="btn-danger">Log Out</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                        </ul>
                    </div>
                </div>
            </nav>
            
            
            <h1><b>MOTION IN A CIRCLE</b></h1>
            <h6><b>LAST UPDATED NOV 2018</b></h6>
            <br>
            <br>
            
                <div class = "row">
                <div>
                    <h5>SHERPA® WORKSHEETS</h5>
                    <div class="card d-inline-block" style="width: 8rem;">
                      <div class ="imgbord">
                          <a href="{% url 'circle' %}"><img class="card-img-top" src="{% static 'images/PrecessionOfATop.svg.png' %}"  alt="Card image cap"></a>
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                        <p class ="cardassign">SHERPA®</p>
                        <p class="card-text">MOTION IN A CIRCLE I</p>
                      </div>
                    </div>

                    <div class="card d-inline-block" style="width: 8rem;">
                      <div class ="imgbord">
                          <img class="card-img-top" src="{% static 'images/PrecessionOfATop.svg.png' %}" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                        <p class ="cardassign">SHERPA®</p>
                        <p class="card-text">MOTION IN A CIRCLE II</p>
                      </div>
                    </div>

                    <div class="card d-inline-block" style="width: 8rem;">
                      <div class ="imgbord">
                          <img class="card-img-top" src="{% static 'images/dynamic.jpg' %}" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                        <p class ="cardassign">SHERPA®</p>
                        <p class="card-text">MOTION IN A CIRCLE III</p>

                      </div>
                    </div>
                </div>

                <div>
                    <h5>COMMUNITY WORKSHEETS</h5>
                    <div class="card d-inline-block" style="width: 8rem;">
                      <div class ="imgbord">
                          <img class="card-img-top" src="{% static 'images/Squarelogo.png' %}" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                        <p class ="cardassign">SHERPA COMMUNITY TUTORS</p>
                        <p class="card-text">A LVL PHYSICS 2017-2019 PRACTICE</p>
                      </div>
                    </div>

                    <div class="card d-inline-block" style="width: 8rem;">
                      <div class ="imgbord">
                          <img class="card-img-top" src="{% static 'images/smu.png' %}" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                        <p class ="cardassign">SMU TEACHING CIRCLE</p>
                        <p class="card-text">A LVL PHYSICS - MOTION IN A CIRCLE</p>
                      </div>
                    </div>

                    <div class="card d-inline-block" style="width: 8rem;">
                      <div class ="imgbord">
                          <img class="card-img-top" src="{% static 'images/abc.jpg' %}" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                        <p class ="cardassign">SMU TEACHING CIRCLE</p>
                        <p class="card-text">EOY CIRCULAR MOTION PRACTICE</p>

                      </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            
            <img class ="clickhere" id="autogen" src="{% static 'images/clickhere.png' %}">
            <div class="container" id ="worksheetcreate">
            <div  >
                <button type="button" class="btn btn-warning togbut" data-toggle="modal" data-target="#exampleModal" id="autobut">Auto Generate</button>
                <button type="button" class="btn btn-warning togbut">Create Worksheet</button>
                <button type="button" class="btn btn-secondary togbut">Select</button>
            </div>
            <br>
            <br>
                <!-- Modal1 -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Auto Generate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                            <div id ="inital">
                                <form>
                                    <div class="form-group row">
                                        <label for="question" class="col-sm-2 col-form-label">Questions</label>
                                        <div class="col-sm-10">
                                          <input type="number" class="form-control" id="question" placeholder="10">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="difficulty" class="col-sm-2 col-form-label">Difficulty</label>
                                        <div class="col-sm-10">
                                          <select name="difficulty">
                                              <option value="Easy">Easy</option>
                                              <option value="Medium">Medium</option>
                                              <option value="Hard">Hard</option>
                                            </select>
                                        </div>
                                    </div>     
                                    <div class="form-group row">
                                        <label for="com" class="col-sm-2 col-form-label">Exclude Completed</label>
                                        <div class="col-sm-10">
                                          <select name="com">
                                              <option value="Yes">Yes</option>
                                              <option value="No">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="shuf" class="col-sm-2 col-form-label">Shuffle</label>
                                        <div class="col-sm-10">
                                          <select name="shuf">
                                              <option value="Yes">Yes</option>
                                              <option value="No">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <img class ="clickhere" src="{% static 'images/clickhere.png' %}">
                                    <br>
                                    <button id="generate" class="btn btn-warning" data-toggle="modal" data-target="#Modal2" data-dismiss="modal">Generate Worksheet</button>
                                </form>
                            </div>
                        
                          </div>
                          <div class="modal-footer">
                          </div>
                        </div>
                      </div>
                    </div>
                
                <!-- Modal2 -->
                <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Auto Generate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                            <div id ="inital">
                                <form>
                                    <div class="form-group row align-middle">
                                        <label for="question" class="col-sm-2 col-form-label">New Worksheet</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="question" placeholder="Title">
                                        </div>
                                    </div>
                                    <img id ="previewbutton" class ="clickhere" src="{% static 'images/clickhere.png' %}">
                                    <div class="row text-center">
                                        <div class="col-sm">
                                            <button type="submit" class="col-sm btn btn-secondary" data-toggle="modal" data-target="#preview" data-dismiss="modal" id="previewbut">Preview</button>
                                        </div>
                                        <div class="col-sm">
                                            <button type="submit" class="col-sm btn btn-secondary">Manually Edit</button>
                                        </div>
                                        <div class="col-sm">
                                            <button type="submit" class="col-sm btn btn-secondary">Save Worksheet</button>
                                        </div>
                                    </div>
                                    <div class="form-group row assign">
                                        <label for="shuf" class="col-sm-5 col-form-label">Assign Homework to</label>
                                        <div class="col-sm-7">
                                          <select name="shuf">
                                              <option value="Gerald Woo">Gerald Woo</option>
                                              <option value="Emerson Sng">Emerson Sng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="checkbox"> with Answers
                                    <input type="checkbox"> with Worked Solutions
                                  <div class="row justify-content-center"><a id="generatingbutton" class ="invisible" data-dismiss="modal" aria-label="Close"><img class ="clickhere" src="{% static 'images/clickhere.png' %}"></a></div>
                                  <div class="row justify-content-center"><a id="generating" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Assign</a></div>
                                </form>
                            </div>
                        
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Preview -->
                <div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="preview" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="previewLabel">Preview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  data-toggle="modal" data-target="#Modal2">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                            <div>
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                  <div class="carousel-inner">
                                    <div class="carousel-item active">
                                      <h4>Question 1</h4>
                                      <img class="d-block w-100" src="{% static 'images/qn.png' %}" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                      <h4>Worked Solutions</h4>
                                      <img class="d-block w-100" src="{% static 'images/ans.png' %}" alt="Second slide">
                                    </div>
                                  </div>
                                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </div>
                            </div>
                        
                      </div>
                      <div class="modal-footer">
                          
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  data-toggle="modal" data-target="#Modal2" id = "closebut"><div><img class ="clickhere" src="{% static 'images/clickhere.png' %}"></div>
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div>
                <h5>MY WORKSHEETS</h5>
                    <img class ="clickhere invisible row" id="final" src="{% static 'images/clickhere.png' %}">
                    <div class="card d-inline-block invisible" id = "reqwork" style="width: 8rem;">
                      <div class ="imgbord">
                          <a href="{% url 'feedback' %}">
                          <img class="card-img-top" src="{% static 'images/Squarelogo.png' %}" alt="Card image cap">
                          </a>   
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                        <p class ="cardassign">MY ACCOUNT</p>
                        <p class="card-text">TEST PRACTICE</p>
                      </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    
{% endblock %}
    
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
            
            $("#generating").on('click', function () {
                $("#reqwork").removeClass('invisible');
                $("#final").removeClass('invisible');
                $("#autogen").addClass('invisible');
            });
            
            $("#autobut").on('click', function () {
                $("#autogen").addClass('invisible');
            });
            
            $("#closebut").on('click', function () {
                $("#previewbutton").addClass('invisible');
                $("#generatingbutton").removeClass('invisible');
            });
        });
    </script>
    
{% endblock %}
