<!DOCTYPE html>
<html lang="en">

  <head>
      {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learn With Sherpa</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
      
    <!-- Custom CSS -->
    <link href="{% static 'css/stylish-portfolio.min.css ' %}" rel="stylesheet">


  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Menu</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">The Sherpa Learning Portal</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Team</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#beta">Beta Sign Up</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#enquiry">Connect</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="{% url 'login' %}"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" >
                Beta Login
            </button></a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">

        <h1 class="mb-1">Sherpa</h1>
        <h3 class="mb-5">
          Learning Made Easy.
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn More</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <img class="img-fluid" width="40%" src="{% static 'images/Untitled-1-Recovered.png' %}" alt="">
<!--             <h2>Sherpa</h2> -->
            <p> </p>
            <h3>What is Sherpa?</h3>
            <p class="lead mb-5">Sherpa is a <b>one-stop learning platform</b> with a <b>global database of educational resources</b> for the student and educators of the internet age. The progress of individual learners is also tracked through, and <b>customised worksheets and tests</b> are generated for them.<br><br>Through making education <b>simple and affordable</b>, we hope to <b>empower individuals</b> to take the first steps in their education journey, no matter where they are in the world.</p>
<!--             <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Features</a> -->
            <h3>Our Mission</h3>
            <p class="lead mb-5">To provide affordable, accessible and high quality education materials for all learners and educators in the world.</p>
            <h3>Our Vision</h3>
            <p class="lead mb-5">Globally empowering educators and self- educators with equal access to high quality tools and teaching materials to unlock quality education for all.</p>
            <iframe width=100% height=500px src="https://www.youtube.com/embed/7Qcg-lth_lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">The Sherpa Learning Portal</h3>
          <h2 class="mb-5">Features</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong>Comprehensive</strong>
            </h4>
            <p class="text-faded mb-0">Sherpa’s database covers the entire range of secondary and pre-university level topics in mathematics and the sciences</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
            <h4>
              <strong>Seamless</strong>
            </h4>
            <p class="text-faded mb-0">Our platform is easily navigable with the resources sorted according to each user’s learning profile e.g. high school student from Indonesia</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-like"></i>
            </span>
            <h4>
              <strong>Progressive</strong>
            </h4>
            <p class="text-faded mb-0">With customised worksheets and tests, individuals will be able to learn at their own pace and track their own progress</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
            <h4>
              <strong>Guided</strong>
            </h4>
            <p class="text-faded mb-0">All of our worksheets come with fully worked solutions that can help even a newbie become a teaching pro</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Callout -->
    <section class="callout">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner" style="width:80%; margin: auto">
          <div class="carousel-item active" >
            <img src="{% static 'images/Capture.JPG' %}" style="width:100%" alt="Los Angeles">
          </div>
          <div class="carousel-item" >
            <img src="{% static 'images/Capture2.JPG' %}" style="width:100%" alt="Chicago">
          </div>
          <div class="carousel-item" >
            <img src="{% static 'images/Capture3.JPG' %}" style="width:100%" alt="New York">
          </div>
          <div class="carousel-item" >
            <img src="{% static 'images/Capture4.JPG' %}" style="width:100%" alt="New York">
          </div>
          <div class="carousel-item" >
            <img src="{% static 'images/Capture5.JPG' %}" style="width:100%" alt="New York">
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>


    </section>

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">About Us</h3>
          <h2 class="mb-5">Meet the Team</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6" >
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Ryan Ng | Chief Executive Officer</h2>
                  <p class="mb-0">I am a strong believer in education being the great equalizer and am a champion of equal access for quality education for all. I have always been fascinated by alternative means of education, apart from the traditional.</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/portfolio-1.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Eugene Chia | Chief Technology Officer</h2>
                  <p class="mb-0">With years of experience as a tutor myself, I understand the pains of tutors and parents when it comes to teaching. I believe a multifaceted e-learning/teaching platform is the way to go when it comes to nurturing the youth of our future.</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/portfolio-2.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Emerson Sng | Chief Operations Officer</h2>
                  <p class="mb-0">Since a very young age, I have always envisioned improving the education system to be more efficient and to make it easier for tutors and parents to better engage their students and children.</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/portfolio-3.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Ong Chin Tak | Chief Marketing Officer</h2>
                  <p class="mb-0">I have a passion for learning and strongly believe in broadening horizons through quality education. I strive to improve the education experience for students all around the world.</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/portfolio-4.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Gerald Woo | Chief Data Officer</h2>
                  <p class="mb-0">Education is one thing that I believe should always be improved upon. I believe that it is one of the main drivers of progress in society and opportunities for great education should be made available to everyone.</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/portfolio-5.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Yong Hua Bing | Chief Finance Officer</h2>
                  <p class="mb-0">I am a highly driven undergraduate with strong interest in financial analysis especially for startups. I have a fond interest in teaching and have taken up related opportunities through a teaching internship and being a teaching assistant in university.</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'images/portfolio-6.jpg' %}" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section id="beta" class="content-section bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">Sign up here to join us as an early access beta tester!</h2>
          <form action="" method="POST" id ="subform">
            {% csrf_token %}
                <br>
                <h4><label for="country">Country:</label><input type="text" placeholder="" name="country" id="country"></h4>
                <h4><label for="persontype">I am a:</label>
                    <select name="persontype" id="persontype" name="cars">
                      <option value="Self Learner">Self Learner</option>
                      <option value="Parent">Parent</option>
                      <option value="Tutor">Tutor</option>
                      <option value="Student">Student</option>
                      <option value="Others">Others</option>
                    </select>
                </h4>
                <h4><label for="email">Email:</label><input type="email" placeholder="" name="email" id="email"></h4>
                <input type="submit" id = "interest" class="btn btn-xl btn-warning" value="I'm Interested">
            </form>
          <br>
          <br>
          <h2 class="mb-4">Complete our survey to get extra learning credits!</h2>
          <p></p>
          <a id="survey1" class="btn btn-xl btn-dark">Survey for Parents</a>
          <p></p>
          <a id="survey2" class="btn btn-xl btn-dark">Survey for Non-Parents</a>
          
          <script>
            var survey1 = document.getElementById("survey1");
            survey1.addEventListener('click', function() {
              window.location = "https://docs.google.com/forms/d/e/1FAIpQLSd3EV3gzyAPl3QMxvQXIJqWEW9OLjw6Q7fBENaObQGpT3FLAQ/viewform?usp=pp_url&entry.1140361277="+email.value;
            }, false);
            var survey2 = document.getElementById("survey2");
            survey2.addEventListener('click', function() {
              window.location = "https://docs.google.com/forms/d/e/1FAIpQLSeSYjnzuszN104usO8AnTjZP1ISHP15eZENCB0NePtNGyonRQ/viewform?usp=pp_url&entry.2134005558="+email.value;
            }, false);
        </script>
      </div>
    </section>

     <!-- Contact Us -->
    <section id="enquiry" class="content-section bg-info text-white">
      <div class="container text-center">
        <h1>Get in Touch</h1>
              <h2>We are hiring too! (Send your cv too and ride the education revolution!)</h2>
              <p>Contact us via Email: <b>admin@learnwithsherpa.com</b> or simply fill in the form below.</p>
                <form action="" method="POST">
                {% csrf_token %}
                    <div class = "row">
                        <p class = "col-lg-6"><input class="enquiryfield" type="text" placeholder="Name*" name="name" id="name"></p>
                        <p class = "col-lg-6"><input class="enquiryfield" type="text" placeholder="Country*" name="country1" id="country1"></p>
                    </div>
                    <div class ="row">
                        <p class = "col-lg-6"><input class="enquiryfield" type="number" placeholder="Phone Number" name="number" id="country1"></p>
                        <p class = "col-lg-6"><input class="enquiryfield" type="email" placeholder="Email Address*" name="email1" id="email1"></p>
                    </div>
                    <div class ="row">
                        <p class = "col-lg-12"><input class="enquiryfield1" type="text" placeholder="Enquiries" name="enquiries" id="enquiries"></p>
                    </div>
                    <input type="submit" id = "interest" class="btn btn-xl btn-warning" value="Send">
                </form>
          </div>
    </section>  
      
    <!-- Map -->
    <section id="contact" class="map">
      <iframe width=100% src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7251152399895!2d103.9615950514218!3d1.3412872990169533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3cd8cd26e9e3%3A0x7de56b1846994e6c!2sSingapore+University+of+Technology+and+Design!5e0!3m2!1sen!2ssg!4v1541521101753" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <br/>
      <small>
        <a href="https://goo.gl/maps/ASVsWbKKLpq"></a>
      </small>
    </section>  
      
    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/learnwithsherpa/">
              <i class="icon-social-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.youtube.com/channel/UCtAPzjOlmggfBb7nkqB7mBw">
              <i class="icon-social-youtube"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="mailto:admin@learnwithsherpa.com">
              <i class="icon-envelope"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Sherpa 2018</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>

  </body>

</html>
