{% extends 'base.html' %}

{% load static %}
{% block css %}
      <link rel="stylesheet" href="{% static 'css/password_reset.css' %}"> 
{% endblock %} 

{% block content %}
<div class ="container-fluid">
  <h2>Reset your password!</h2>
  <br>
  <form method="post">
      {% csrf_token %}
      {{ form }}
      <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
      <button type="submit">Save Password</button>
    </form>
</div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $("button").addClass("btn btn-danger");
        });
    </script>
{% endblock script %}